{{ define "topbar" }}
<div class="flex flex-row justify-between items-center p-4 sm:p-8 relative z-20 w-full">
  <a class="text-primary flex flex-row items-center cursor-pointer" href="https://google.com">
    <img src="/static/assets/logo.png" alt="logo" class="h-12">
    <h3 class="ml-2 translate-y-[0.125rem]">PastureenDesign</h3>
  </a>
  <div class="cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      class="w-8 h-8 stroke-onBackground hover:stroke-onBackgroundHighlight traslate-y-[0.125rem]">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
    </svg>
  </div>
</div>
<div class="bg-background top-0 left-0 min-h-screen w-full z-10">
  <div class="content mt-[8rem]">
    <div class="flex flex-col h-full">
      <div>
        <a href="https://google.com">Home</a>
      </div>
      <a href="https://google.com">About</a>
      <div>
        <a href="https://google.com">Contact</a>
      </div>
    </div>
  </div>
</div>
{{ end }}
