go 1.21

use (
	./auth_client
	./auth_models
	./author
	./blog_models
	./http_utils
	./librarian
	./librarian_client
	./librarian_models
	./publisher_client
	./publisher_models
	./shared_models
  ./pastureen_client
)

