:root {
  --text-color: #EBF0F5;
  --bg-color: #1F2327;
  --accent-color: #A7FF54;
  --accent-hightlight-color: #DAFFB8;
  --text-subdued-color: #757575;
  --block-color: #16181B;
  --navbar-color: #212529;
  --bg-highlight-color: #25292D;
  --paragraph-color: #BEBEBE;
}

html {
  background: var(--bg-color);
  font-family: 'PT Mono', monospace;
}

#navbar-open-target {
  opacity: 1;
}

#navbar-open-target.htmx-swapping,
#navbar-open-target.htmx-added {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.pixel-art {
  image-rendering: pixelated;
}

.navbar {
  cursor: pointer;
  background: var(--navbar-color);
  position: fixed;
  width: 100%;
  height: 5.75rem;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  padding: 0 2rem;
}

.navbar__logo {
  height: 2.875rem;
  width: 2.875rem;
  margin-right: 1rem;
}

.navbar__input {
  flex: 1;
}

.navbar__icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--accent-color);
}

.navbar__helptext {
  color: var(--text-color);
  font-size: 1rem;
  margin-left: 0.5rem;
  display: none
}

.navbar:hover .navbar__icon {
  stroke: var(--accent-hightlight-color);
}

@media (min-width: 768px) {
  .navbar__helptext {
    display: block;
  }
}
