:root {
  --text-color: #EBF0F5;
  --bg-color: #1F2327;
  --accent-color: #A7FF54;
  --accent-hightlight-color: #DAFFB8;
  --text-subdued-color: #757575;
  --block-color: #16181B;
  --navbar-color: #212529;
  --bg-highlight-color: #25292D;
  --paragraph-color: #BEBEBE;
  --button-color: #EBF0F5;
  --button-hover-color: #DFF3CD;
  --code-bg-color: #16181B;
}

html {
  background: var(--bg-color);
  font-family: 'PT Mono', monospace;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: 100%
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: none;
  appearance: none;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  background-color: transparent;
  border: none;
}

/* For testing */
.blue-bg {
  width: 100%;
  height: 100vh;
  background: #16B;
}

[x-cloak] { display: none !important; }

.pixel-art {
  image-rendering: pixelated;
}

.navbar {
  z-index: 10;
  background: var(--navbar-color);
  position: fixed;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  padding: 0 2rem;
}


.navbar__logo {
  height: 2.875rem;
  width: 2.875rem;
  margin-right: 1rem;
}

.navbar__body {
  flex: 1;
  height: 100%;
}

.navbar-body {
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
}

.navbar-body__input {
  flex: 1;
  font-size: 1rem;
  color: var(--text-color);
}

.navbar-body__input::placeholder {
  color: var(--text-subdued-color);
}

.navbar-body__icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--accent-color);
}

.navbar-body__helptext {
  color: var(--text-color);
  font-size: 1rem;
  margin-left: 0.5rem;
  display: none
}

.navbar-body__helptext,
.navbar-body__icon {
  cursor: pointer;
}

.navbar-body__icon:hover {
  stroke: var(--accent-hightlight-color);
}

@media (min-width: 1024px) {
  .navbar-body__helptext {
    display: block;
  }
}

.global-search__body {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  background: var(--bg-color);
  width: 100%;
  padding-top: 5.75rem;
  height: 100vh;
}


.layout-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.layout {
  width: 100%;
}

@media (min-width: 600px) {
  .layout {
    margin: 0 4rem;
  }
}

@media (min-width: 768px) {
  .layout {
    max-width: 64rem;
  }
}

.menu-section__label {
  padding: 1.5rem 2rem;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
}

.menu-item {
  cursor: pointer;
  padding: 1.125rem 2rem;
  color: var(--text-subdued-color);
  font-size: 1rem;
  text-transform: uppercase;
}

.menu-item:hover {
  background: var(--bg-highlight-color);
}

.button {
  cursor: pointer;
  padding: 1rem 3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 0.25rem;
}

.button--small {
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
}

.button:hover {
  color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
}

.heading {
  text-transform: uppercase;
  color: var(--text-color);
  padding: 0 2rem;
}

.heading::after {
  content: '';
  display: inline-flex;
  margin-left: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  background: var(--accent-color);
}

.heading--lg {
  font-size: 3rem;
}

.heading--md {
  font-size: 2rem;
}

.heading--sm {
  font-size: 1rem;
}

.prose {
  padding: 0 2rem;
}

.prose h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 4rem;
}

.prose h1::after,
.prose h2::after,
.prose h3::after
{
  content: '';
  display: inline-flex;
  margin-left: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  background: var(--accent-color);
}

.prose h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.prose h3 {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.prose p{
  color: var(--paragraph-color);
  font-size: 1rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.prose .button {
  display: inline-flex;
}

.prose pre {
  background: var(--code-bg-color);
  color: var(--text-color);
  padding: 3rem 3.5rem;
  border-radius: 1.25rem;
  overflow-x: auto;
}

.prose a {
  text-decoration: underline;
}

.prose blockquote {
  background: var(--code-bg-color);
  padding: 3rem 3.5rem;
  border-radius: 1.25rem;
  margin-bottom: 3rem;
}

.prose blockquote p {
  margin-bottom: 0;
  color: var(--text-color);
}

.list-item {
  width: 100%;
  padding: 3rem 2rem;
}

.list-item__title {
  color: var(--text-color);
  font-size: 1.125rem;
  margin-bottom: 0.875rem;
  text-transform: uppercase;
}

.list-item__subtitle {
  color: var(--text-subdued-color);
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.list-item__tertiary {
  color: var(--text-subdued-color);
  font-size: 0.875rem;
}

.list-item:hover {
  background: var(--bg-highlight-color);
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  width: 100%;
  color: var(--text-subdued-color);
  font-size: 0.875rem;
  text-transform: uppercase;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

