.global-search-results {
  margin-top: 1rem;
}

.global-search-results__suggestions {
  margin-bottom: 2rem;
}

.global-search-result-items__heading {
  margin-top: 2rem;
}

.global-search-results-resource .global-search-result__items {
  display: block;
}

.global-search-results-resource .global-search-result__loader {
  display: none;
}

.global-search-results-resource.htmx-indicator .global-search-result__items {
  display: none;
}

.global-search-results-resource.htmx-indicator .global-search-result__loader {
  display: block;
}

.index-page {
  overflow-x: hidden;
  margin-bottom: 10rem;
}

.index-page__landing {
  width: 100%;
  min-height: 100vh;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.index-page-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-page-landing__body {
  flex: 1;
  width: 100%
}

.index-page-landing__footer {
  height: 2.5rem;
  width: 100%
}

.index-splash {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.index-splash__logo {
  width: 2.6rem;
  height: 2.6rem;
  margin-bottom: 1rem;
}

.index-splash__title {
  font-size: 3.875rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.index-splash__title span {
  color: var(--accent-color);
}

.index-splash__subtitle {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.index-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.index-socials__item {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-subdued-color);
}

.index-page__pastureen {
  margin-top: 10rem;
}

.post {
  margin-top: 10rem;
}

.post__title {
  margin-bottom: 1.25rem;
}

.post__date {
  font-size: 1rem;
  color: var(--text-subdued-color);
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.post__tags {
  font-size: 1rem;
  color: var(--text-subdued-color);
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.post__content {
  margin-top: 4rem;
}
