{{ define "layout" }}
<html>
<head>
  <title>{{ .Title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <script src="//unpkg.com/alpinejs"></script>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@3.3.3/src/css/preflight.css">
  <link rel="stylesheet" href="{{.StylesheetUri}}">
  {{ if .CustomStylesheetUri }}
  <link rel="stylesheet" href="{{.CustomStylesheetUri}}">
  {{ end }}
</head>

<body>
  {{ template "topbar" .TopbarData }}
  {{ block "body" .BodyData }}

  {{ end }}
</body>

</html>
{{ end }}
