{{ block "list_item" . }}
<div class="resource">
  <div class="resource__content">
    <div class="pt-list-item">
      <img src="{{ .ImageSrc}}" alt="{{ .ImageAlt }}" class="pt-list-item__image" />
      <div class="
        {{ if .Link }}
        pt-list-item-heading--link
        {{ end }}
        pt-list-item-heading
      ">
        {{ if .Link }}
        <a href="{{ .Link }}">
          {{ end }}
          <h2 class="pt-list-item-heading__title">{{ .Title }}</h2>
          <h5 class="pt-list-item-heading__subtitle">{{ .Subtitle }}</h5>
          {{ if .Link }}
        </a>
        {{ end }}
      </div>
      <div class="pt-list-item__actions">
        {{ if len .ActionsData.ItemsData }}
        {{ template "action_menu" .ActionsData }}
        {{ end }}
      </div>
      <div class="pt-list-item__tags">
        {{ range .Tags }}
        <div class="tag">
          {{ . }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="resource__loader">
    <div class="pt-list-item-loader">
      <h2>Your item is loading</h2>
    </div>
  </div>
</div>
{{ end }}
