{{ block "topbar" . }}
<div x-data="{open: false}">
  <div class="pt-navbar">
    <a class="pt-navbar-logo" href="{{.LogoLink}}">
      <img src="{{.LogoSrc}}" alt="logo" class="pt-navbar-logo__logo">
      <h3 class="pt-navbar-logo__text">{{.LogoText}}</h3>
    </a>
    <div @click="open = !open; document.body.style.overflowY = 'hidden'" class="pt-navbar-mobile-menu-button">
      <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        class="pt-navbar-mobile-menu-button__icon">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
      </svg>
    </div>
    <div class="pt-navbar-menu">
      {{ range .NavItemsData }}
      <a href="{{.Link}}" class="pt-navbar-menu__item {{if .IsActive}}pt-navbar-menu__item--active{{end}}">
        <h5>{{.Text}}</h5>
      </a>
      {{ end }}
    </div>
  </div>
  <div class="mobile-menu" :style="open ? 'transform: translateX(-100%);' : 'transform: translateX(0%);'">
    <div class="pt-navbar">
      <a class="pt-navbar-logo" href="{{ .LogoLink }}">
        <img src="{{ .LogoSrc }}" alt="logo" class="pt-navbar-logo__logo">
        <h3 class="pt-navbar-logo__text">{{ .LogoText }}</h3>
      </a>
      <div @click="open = !open; document.body.style.overflowY = 'auto'" class="pt-navbar-mobile-menu-button">
        <svg x-show="open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          class="pt-navbar-mobile-menu-button__icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
        <div class="mobile-menu__nav">
          <div class="mobile-menu-nav">
            <h2 class="mobile-menu-nav__title">Menu</h2>
            <div class="mobile-menu-nav__list">
              {{ range .NavItemsData }}
              <a href="{{.Link}}" class="mobile-menu-item
                {{if .IsActive}}mobile-menu-item--active{{end}}
                ">
                <h5>{{.Text}}</h5>
              </a>
              {{ if ne .IsLastItem true }}
              <div class="mobile-menu-divider"></div>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
