{{ template "layout" . }}
{{ define "body" }}
<style>
  .index-page__landing {
    min-height: 100vh;
  }

  .index-page-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .index-page-landing__logo {
    min-height: 12rem;
    margin-top: 10rem;
  }

  .index-page-landing__title {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .index-page-landing__cta {
    margin-bottom: 5rem;
  }

  .index-page__about {
    margin-top: 8rem;
    margin-bottom: 16rem;
  }

  .index-page-about__title {
    margin-bottom: 2rem;
  }

  .index-page-about__content {
    margin-bottom: 4rem;
  }
</style>
<div class="content-wrapper index-page__landing">
  <div class="index-page-landing">
    <img src="{{ .LandingImageSrc }}" alt="logo" class="index-page-landing__logo" />
    <h1 class="index-page-landing__title">Pastureen <br /> Design System</h1>
    <a class="index-page-landing__cta">
      <button class="btn">View System</button>
    </a>
  </div>
</div>
<div class="content-wrapper index-page__about">
  <div class="content index-page-about">
    <h1 class="index-page-about__title">What is this?</h1>
    <p class="index-page-about__content">
      This is an honest and humble attempt at making a design system for pastureen.
      I am currently hoping to use this system across my personal projects to enable them to have a consistent look and
      feel to them.
      I honestly believe that this will require multiple iterations of design, but I am committed to seeing this
      through.
      As this is a hobby project, many of the important design system elements will be missing initially or just "not
      yet" documented.
      As elements and themes become clearer, I will be adding them to this site.
    </p>
    <a>
      <button class="btn">Explore</button>
    </a>
  </div>
</div>
{{ end }}
