{{ template "layout" . }}
{{ define "body" }}
<div class="content-wrapper min-h-screen">
  <div class="content-custom flex flex-col items-center justify-center text-center">
    <img src="/static/assets/light.png" alt="logo" class="min-h-[12rem] mt-[10rem]" />
    <h1 class="mt-20 mb-16">Pastureen <br /> Design System</h1>
    <a class="mb-20">
      <button class="btn">View System</button>
    </a>
  </div>
</div>
<div class="content-wrapper mb-[16rem] mt-[8rem]">
  <div class="content prose">
    <h1>What is this?</h1>
    <p class="mb-16">
      This is an honest and humble attempt at making a design system for pastureen.
      I am currently hoping to use this system across my personal projects to enable them to have a consistent look and
      feel to them.
      I honestly believe that this will require multiple iterations of design, but I am committed to seeing this
      through.
      As this is a hobby project, many of the important design system elements will be missing initially or just "not
      yet" documented.
      As elements and themes become clearer, I will be adding them to this site.
    </p>
    <a>
      <button class="btn">Explore</button>
    </a>
  </div>
</div>
{{ end }}
