{{ template "layout" . }}
{{ define "body" }}
<style>
  .lists-page {
    margin: 10rem 0;
  }

  .lists-page__title-bar {
    margin-bottom: 2rem;
  }

  .lists-page-title-bar {
    display: flex;
    justify-content: space-between;
  }

  .lists-page-title-bar__action-menu {
    transform: translateY(1rem);
  }

  .lists-page__search-form {
    margin-bottom: 4rem;
  }

  .lists-page-list {
    width: 100%;
  }

  .lists-page-list__loading {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .lists-page-list-loader {
    background: var(--backgroundHighlight);
    text-align: center;
    color: var(--onBackgroundSubdued);
    border-radius: 0.75rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lists-page-list .lists-page-list__content {
    display: block;
  }

  .lists-page-list .lists-page-list__loading {
    display: none;
  }

  .lists-page-list.htmx-request .lists-page-list__content {
    display: none;
  }

  .lists-page-list.htmx-request .lists-page-list__loading {
    display: flex;
  }
</style>
<div class="content-wrapper lists-page">
  <div class="content">
    <div class="lists-page-title-bar lists-page__title-bar">
      <h1>A list of random people</h1>
      {{ if len .ActionsData.ItemsData }}
      <div class="lists-page-title-bar__action-menu">
        {{ template "action_menu" .ActionsData }}
      </div>
      {{ end }}
    </div>
    <form class="lists-page__search-form" @submit.prevent>
      <div class="form-item">
        <label class="form-item__label" for="search">Search</label>
        <input hx-post="/htmx/lists_page_search" hx-trigger="keyup changed delay:0.5s" hx-swap="innerHTML"
          hx-indicator=".lists-page-list" hx-target=".lists-page-list__content" type="text" name="search"
          placeholder="Search" />
      </div>
    </form>
    <div class="lists-page-list">
      <div class="lists-page-list__content">
        {{ template "lists_page_paginator" .PaginatorData }}
      </div>
      <div class="lists-page-list__loading">
        <div class="lists-page-list-loader">
          <h2>Searching items....</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
